html { 
  font-size: 20px;
}
body{
  font-family: "Arial", "Meiryo", "sans-serif";
  text-align: center;
}
.blue {
  color: #a0d8ef;
}
.pink {
  color: rgb(255, 192, 203);
}
 h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 3px 3px 6px gray;
  border-bottom: solid 3px;
}
#basic{
  font-weight: bold;
}